body {
  font-family: "Cormorant", serif;
}
header {
  margin: 32px;
}
header h1 {
  display: inline-block;
  font-weight: 300;
}
header nav {
  display: inline-block;
}
header nav ul li {
  display: inline-block;
}
li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0 8px;
}
.active {
  border-bottom: 1px solid black;
}
.gallery {
  padding: 16px;
}
.card {
  display: inline-block;
  width: 49.75%;
  box-sizing: border-box;
  padding: 16px;
}
.card:hover {
  opacity: 0.9;
}
.card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.card h2 {
  margin: 8px 0 16px 0;
  font-weight: 300;
}
.about h3 {
  font-size: 40px;
  font-weight: 300;
}
.about {
  width: 40%;
  margin: 100px 0 100px 200px;
  min-width: 600px;
}
.cta {
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 0;
}
.contact {
  margin-top: 100px;
}
.contact p {
  font-size: 20px;
  margin: 0;
}
